@charset "UTF-8";

/*결제하기*/

.dy{text-align:left;}

.name1{text-align:center; font-size:16px;}
.top1{margin-right: 500px;}
.top2{margin-left:45px;}
.top3{margin-left:45px;}
.top4{margin-left:45px;}

.name2{text-align:center; font-size:16px;}
.mid4{position:relative; left:275px;}
.mid3{position:relative; left:215px;}
.mid2{position:relative; left:165px;}
.mid1{position:relative; right:350px;}

.name3{text-align:center; font-size:16px;}
.bottom4{position:relative; left:310px;}
.bottom3{position:relative; left:245px;}
.bottom2{position:relative; left:205px;}
.bottom1{position:relative; right:340px;}

.name4{text-align:left;}
.foot2{font-size:14px; position:relative; left:750px}

.name5{text-align:left; margin-bottom:40px;}
.fname{font-size:18px;}
.fname1{width:200px; height:20px; position:relative; left:55px;}

.name6{text-align:left; margin-bottom:40px;}
.fphone{font-size:18px;}
.fphone1{width:200px; height:20px; position:relative; left:40px;}

.name7{text-align:left; margin-bottom:40px;}
.femail{font-size:18px;}
.femail1{width:200px; height:20px; position:relative; left:50px;}

.name8{text-align:left;}

.name9{text-align:left;}
.fpoint{font-size:18px;}
.fpoint1{width:200px; height:20px; position:relative; }
.payment{
    width:70px;
    height:40px;
    position:relative;
    left:750px;
}